name: Build Windows
on:
  push:
    branches:
      - '**'
jobs:
  build:
    name: Build Windows
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Configure
        run: cmake -B build -G "Visual Studio 17 2022" -A x64

      - name: Build
        run: cmake --build build --config Release

      - name: Install NSIS
        run: choco install nsis -y

      - name: Create Installer
        run: |
          cd build
          cpack -G NSIS -C Release
        shell: bash

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Heligoland_Windows
          path: build/Heligoland-*.exe
